{% extends 'base.html' %}
<!-- jenji syntax -->
{% block title %}Input Sanitization Project{% endblock %} 
{% block content %}
<div class="container">
  <h1>Input Sanitization Project</h1>
  <form id="Userlogin" action="/" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" />

    <input type="submit" value="Submit" />
  </form>
</div>

<div class="container">
  <h1>Sanitized Input</h1>

  <table id="user-input">
    <tr>
      <th>BadUsername</th>
      <th>BadEmail</th>
      <th>BadPassword</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      
      {% for submission in submissions %}
      <tr>
        <td>{{ submission.bad_user_name }}</td>
        <td>{{ submission.bad_email }}</td>
        <td>{{ submission.bad_password }}</td>
        <td>{{ submission.user_name }}</td>
        <td>{{ submission.email }}</td>
        <td>{{ submission.password }}</td>
        <td>
          <a href=""> Delete</a>
          <br />
          <a href=""> Edit</a>
        </td>
      </tr>
      {% endfor %}
  </table>
</div>

{% endblock %}